body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  padding: 10px;
  width: 250px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
input[type="range"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.message {
  color: #d44;
  margin-top: 10px;
  text-align: center; /* 文本居中 */
}

.center-container {
  display: flex;
  justify-content: center; /* 使用 Flexbox 居中 */
  margin-top: 20px; /* 添加一些顶部间距 */
}
